<%-include('partials/head')%>
    <%-include('partials/navbar')%>
    <!--     in between these anything would be considered as javascript                -->
    <h1>home page it is <%= 4+5%></h1>
    <%= 7+886764%>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, id similique ducimus sed laboriosam laudantium quisquam eveniet placeat cumque, possimus nihil quidem ea consectetur enim molestias sunt voluptatum et quod.</p>
    <%-include('partials/footer')%>