<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=prod.name  %></title>
</head>
<body>
    <h1><%=prod.name %></h1>
    <ul>
        <li>price: <%=prod.price %></li>
        <li>category <%=prod.category %></li>
    </ul>
    <a href="/products">back to all products</a>
    <form action="/products/<%=prod._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    
</body>
</html>